<div class="container-fluid py-4">
    <div class="">
        <div class="card" style="width: 100%; margin-top: 1rem;">  
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <p class="mb-0">CANCHAS</p>
              <button class="btn btn-primary btn-sm ms-auto" routerLink="NewCancha">Agregar</button>
            </div>
          </div>
          <div class="card-body">
            <!-- <div class="card-title">Card title
                <button class="btn btn-primary position-relative end-0" routerLink="NewCancha">Agregar</button>
            </div> -->
            
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead *ngIf="data?.length != 0">
                <tr>
                  <th>NOMBRE</th>
                  <th>TELEFONO</th>
                  <td>DIRECCION</td>
                  <th>CP</th>
                  <th>CANTIDAD CANCHAS</th>
                  <th></th>

                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let u of data">
                  <td>{{u.nombre_cancha}}</td>
                  <td>{{u.telefono}}</td>
                  <td>{{u.direccion}}</td>
                  <td>{{u.codigo_postal}}</td>
                  <td>{{u.cantidad_canchas}}</td>
                  <td> 
                    <button [routerLink]="['EditCancha/', u.id]" class="btn btn-primary" style="color:white; margin-right: 1rem;"><span><i style="color:white" class="fa fa-pen"></i></span></button>
                    <button class="btn btn-danger" (click)="DelteCancha(u.id)"><span><i class="fas fa-trash"></i></span></button> 
                  </td>
                </tr>
             
              </tbody>
            </table>
    
              
          </div>
        </div>
      </div>
</div>
