<div class="container">
  <div class="">
    <div class="card" style="width: 100%; margin-top: 1rem;">

      <div class="card-body">
        <div class="card-title">Usuarios
          <button class="btn btn-primary position-relative end-0">Agregar</button>
        </div>

        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of data">
              <td>{{u.apellido}}</td>
              <td>{{u.dni}}</td>
              <td>{{u.correo}}</td>
            </tr>
         
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>