<div class="container">
  <div class="">
    <div class="card" style="width: 100%; margin-top: 1rem;">
      <div class="card-header pb-0">
        <div class="d-flex align-items-center">
          <p class="mb-0">USUARIOS</p>
          <button class="btn btn-primary btn-sm ms-auto" routerLink="NewUser">Agregar</button>
        </div>
      </div>
      <div class="card-body">
        <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr >
              <th>Nombre</th>
              <th>DNI</th>
              <th>MAIL</th>
              <th style="text-align:center">PROPIETARIO DE</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of data">
              <td>{{u.nombre}} {{u.apellido}}</td>
              <td>{{u.dni}}</td>
              <td>{{u.correo}}</td>
              <td style="text-align:center;"><a href=""><i style="color: chocolate;" class="fas fa-eye"></i></a>{{u.id_cancha}}</td>
              <td> 
                <button [routerLink]="['EditUser/', u.id]" class="btn btn-primary" style="color:white; margin-right: 1rem;"><span><i style="color:white" class="fa fa-pen"></i></span></button>
                <button class="btn btn-danger" (click)="DelteUser(u.id)"><span><i class="fas fa-trash"></i></span></button> 
              </td>
            </tr>
         
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>