<footer class="footer pt-3  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="copyright text-center text-sm text-muted text-lg-start">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            made with <i class="fa fa-glasses"></i> by
            <a href="http://inequality.com.ar/" class="font-weight-bold" style="color: green;" target="_blank">Inequality</a>
            
          </div>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </footer>
