<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                </div>
                <div class="card-body">
                    <p class="text-uppercase text-sm">INFORMACIÓN DE LA CANCHA</p>

                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Dirección</label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">CP</label>
                                    <input class="form-control" type="email" value="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Teléfono</label>
                                    <input class="form-control" type="text" value="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Cantidad de
                                        canchas</label>
                                    <input class="form-control" type="number" value="">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Logo</label>
                                    <input class="form-control" type="file" value="Lucky">
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr class="horizontal dark">
                    <!-- <p class="text-uppercase text-sm">INFORMACIÓN DE LA CANCHA</p>-->
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit" style="margin-right: 1rem;">Guardar</button>
                            <button class="btn btn-secondary" routerLink="/dashboard/canchas">Atras</button>
                        </div>
                    </div>
                    <!--<div class="col-md-4">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">City</label>
                  <input class="form-control" type="text" value="New York">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Country</label>
                  <input class="form-control" type="text" value="United States">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">Postal code</label>
                  <input class="form-control" type="text" value="437300">
                </div>
              </div>
            </div>
            <hr class="horizontal dark">
            <p class="text-uppercase text-sm">About me</p>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label">About me</label>
                  <input class="form-control" type="text" value="A beautiful Dashboard for Bootstrap 5. It is Free and Open Source.">
                </div>
              </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>